body {
    padding-top: 4.5rem;
}
.navbar-brand {
    font-weight: bold;
}

.download-btn {
    border-radius: 20px;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    max-height: 500px; /* Adjust this value based on your needs */
    object-fit: cover;
}

@media (max-width: 768px) {
    .img-fluid {
        max-height: 400px; /* Slightly smaller on mobile devices */
    }
}